<div class="banner">

  <% name = "thomas"%>
  <p>Hey <%= name.capitalize%>!</p>

  <form action="/answer" method="get">
    <input type="text" name="query">
    <input type="submit" value="Ask">
  </form>
</div>
