<h1>Search an exercise</h1>

<form action="/search" method="post">
  <input type="text" name="search[exercice]">
  <input type="text" name="search[duration]">
  <input type="submit" value="Search">
</form>
